.row h2{
    color: white;
    margin: 1em 6.5em;
    
}

.card{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0.5em;
    flex-wrap: nowrap;
}
.row-image{
    width: 10%;
    padding: 0em 0.3em;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    
}
.card::-webkit-scrollbar{
    display: none;
}
.row-image:hover{
    transform: scale(1.08);
    opacity: 1;
    
}

@media (max-width:600px){

    .row h2{
        color: white;
        margin: 1em 1.5em;
        
    }

    .row-image{
        width: 40%;
        padding: 0em 0.3em;
        
    }

}